@media (min-width: 576px) {
    .location-item {
        margin-left: 0;
        margin-right: 0;
    }
    .location-item-img {
        padding-bottom: 82%;
    }
    .location-item{
        gap: 25px;
    }
    .location-control{
        .btn-tr{
          width: 350px;
        }
      }

}
@media (min-width: 768px) {
    .location-item-img {
        padding-bottom: 54%;
    }
    .location-items{
        margin-bottom: 46px;
    }
    .location{
        margin-bottom: 46px;
    }
}
@media (min-width: 992px) {
    .location-item-img {
        height: 100%;
				width: 100%;
				padding: 0;
				img{

				}
    }
    ul.location-item-info-list{
        padding-bottom: 64px;
    }
    .location-item{
        grid-template-columns: 1fr 1fr;
				gap: 0;
    }
		ul.location-item-info-tags{
			left: 40px;
		}
    .location-item:nth-child(even){
        .location-item-img{
            order: 1;
        }
    }
    .location-item-info{
        padding: 30px 40px 25px;
    }
    .location-items{
        margin-bottom: 60px;
    }
    .location{
        margin-bottom: 60px;
    }
}
@media (min-width: 1200px) {
    .location-item-img {
        
    }
}
