@media (min-width: 576px){
	.policy{
		margin: 0;
		padding-bottom: 30px;
	}
	.policy h1{
		margin-bottom: 30px;
	}
}
@media (min-width: 768px){
	.policy h1{
		margin-bottom: 40px;
	}
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}