@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .text-page h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin: 42px 0;
  }
  .text-page h2 {
    margin: 42px 0;
  }
  .text-page .img-left {
    float: left;
    margin: 0 30px 30px 0;
    position: relative;
    max-width: calc(50% - 15px);
  }
  .text-page .img-right {
    float: right;
    max-width: calc(50% - 15px);
    margin: 0 0 30px 30px;
    position: relative;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
