@media (min-width: 576px) {
    .tags-search {
        width: 377px;
    }

}
@media (min-width: 768px) {
    .tags-search {
        width: 360px;
    }
    .tags {
        margin: 40px 0;
    }

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .tags {
        margin: 60px 0 40px;
    }

}
