@media (min-width: 576px) {
  .report-item-content h1 {
    margin-bottom: 30px;
  }
  .report-item {
    margin-left: 0;
    margin-right: 0;
    padding: 24px 24px 60px;
  }
}
@media (min-width: 768px) {
  .report-item-download {
    display: flex;
    justify-content: flex-end;
  }
  .report-item-download .btn {
    width: auto;
  }
  .report-item-content h1 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 992px) {
  .report-item-content .report-item-content-box {
    grid-template-columns: repeat(auto-fill, 355px);
  }
  .report-item {
    padding: 30px 36px 60px;
  }
}
@media (min-width: 1200px) {
}
