@media (min-width: 576px) {
    .subscription-wrapper,
    .subscription-message {
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    .subscription-wrapper {
    }
    .subscription-control-email {
        grid-template-columns: 1fr 174px;
        gap: 16px;
    }
    .subscription-title {
        margin-bottom: 17px;
    }
    .subscription-wrapper {
        padding: 25px;
    }
    .subscription-message {
        padding: 25px;
    }
}
@media (min-width: 992px) {
    .subscription-control-email {
        grid-template-columns: 1fr 153px;
        gap: 16px;
    }
    .subscription-wrapper {
        display: grid;
        grid-template-columns: minmax(auto, 350px) 1fr;
        align-items: center;
        gap: 16px;
    }
    .subscription-title {
        margin-bottom: 0;
    }
    .subscription-wrapper {
        padding: 35px 30px 44px 30px;
    }
    .subscription-message {
        padding: 35px 30px 44px 30px;
    }
    .subscription {
        margin-bottom: 80px;
    }
}
@media (min-width: 1200px) {
    .subscription-control-email {
        grid-template-columns: 1fr 170px;
        gap: 16px;
    }
    .subscription-wrapper {
        grid-template-columns: auto minmax(auto, 518px);
        padding: 42px 32px 49px 32px;
    }
    .subscription-message {
        padding: 50px 30px 60px 30px;
    }
    .subscription {
        margin-bottom: 60px;
    }
}
