@import "_fonts";
//@import "bootstrap-grid";
@import "mixin";
//@import "_sprite";
//@import "normalize";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  //font-family: 'Inter', sans-serif;
  scrollbar-width: thin;
  background-color: #f8f8f8;
  .page-bg.active {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
    opacity: 0.9;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: 9;
  }
}
body.no-scroll-mobile {
  overflow: hidden;
}
.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  ul,
  ol {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  li {
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style: none;
  }
}
.web-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
.web-input {
  position: relative;
  input {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    padding: 16px 22px;
    padding-right: 49px;
    color: #000000;
    height: 49px;
    border: 1px solid #DDDDDD;
    outline: none;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 121%;
      color: #6a747d;
    }
    &:hover{
      border-color: #768BA7;
    }
    &:active{
      outline: 1px solid #0246A4;
    }
  }
  button {
    @include no-button;
    position: absolute;
    right: 0;
    top: 0;
    height: 49px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: #aaa;
      }
    }
  }
}
select::-moz-placeholder {
  opacity: 1;
}
textarea::-moz-placeholder {
  opacity: 1;
}
input::-moz-placeholder {
  opacity: 1;
}
.content {
  flex: 1 0 auto;
  margin-top: 162px;
}
button,
a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  @include no-button;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 24px;
  background: #0246a4;
  text-align: center;
  &:hover {
    background: #005cdc;
  }
  &:active {
    background: #005cdc;
  }
  &:disabled {
    background: #dddddd;
    color: #6a747d;
  }
}
.btn-tr {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0246a4;
  padding: 14px 24px;
  background: transparent;
  border: 1px solid #0246a4;
  &:hover {
    color: #005cdc;
    border: 1px solid #005cdc;
  }
  &:active {
    color: #005cdc;
    border: 1px solid #005cdc;
  }
  &:disabled {
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
  }
}
.btn-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 9px 16px;
  color: #768ba7;
  background: #ffffff;
  border: 1px solid #dddddd;
  &:hover {
    background: #768ba7;
    color: #ffffff;
    border: 1px solid #dddddd;
  }
  &:active {
    background: #768ba7;
    border: 1px solid #dddddd;
  }
  &:disabled {
    background: #dddddd;
    border: 1px solid #dddddd;
  }
}
.link-simple {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  color: #0246a4;
  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: #005cdc;
  }
  &:active {
    text-decoration-line: underline;
    color: #005cdc;
  }
  &:disabled {
    color: #aaaaaa;
  }
}
.link-col {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  color: #000000;
  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: #0246a4;
  }
  &:active {
    text-decoration-line: underline;
    color: #0246a4;
  }
  &:disabled {
    color: #aaaaaa;
  }
}

//
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
  &.sticky {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
.header-top {
  padding: 30px 0 30px;
  border-bottom: 1px solid #efefef;
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.05em;
  color: #0246a4;
}
.header-logo-descr {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #768ba7;
  margin-left: 10px;
  max-width: 140px;
}
.header-logo-icons {
  display: none;
}
.header-bottom {
  padding: 13px 0;
}
.header-bottom-nav-list {
  display: flex;
}
.menu-btn {
  @include no-button;
  width: 24px;
  height: 24px;
  span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000000;
    border-radius: 4px;
    & + span {
      margin-top: 4px;
    }
  }
  svg {
    display: none;
  }
}
.header-menu {
  position: fixed;
  left: -555px;
  transition: 0.35s;
  top: 48px;
}
@import "_media-header";
.tags {
  margin: 30px 0;
}
.tags-search {
  position: relative;
  margin-bottom: 24px;
  width: 290px;
  input {
    width: 100%;
    height: 49px;
    background: #ffffff;
    border: 1px solid #dddddd;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    padding: 15px 56px 15px 22px;
    &::placeholder {
      color: #706f6f;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    @include no-button;
    height: 49px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tags-items-inner {
  max-height: 82px;
  overflow: hidden;
  margin-bottom: 12px;
  display: inline-block;
}
.tags-items {
  display: inline-flex;
  gap: 16px;
  flex-wrap: wrap;
  .btn-small {
    &.active {
      background: #768ba7;
      color: #ffffff;
    }
  }
}
.tags-item {
  @include no-button;
  padding: 8px 16px;
  background: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #768ba7;
  border: 1px solid #dddddd;
}
.tags-all {
  @include no-button;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #768ba7;

  display: none;
  &.show {
    display: inline-block;
  }
}
.filled .tags-all-show,
.tags-all-hide {
  display: none;
}
.filled .tags-all-hide {
  display: initial;
}
.tags.filled .tags-items-inner {
  max-height: none;
}

@import "_media-tags";
//
.location {
  margin-bottom: 40px;
}
.location-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px;
}
.location-item {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  gap: 20px;
  &:hover {
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
  }
}
.location-item-img {
  @include container-img;
  padding-bottom: 62.5%;

  img {
    @include img;
  }
}
.location-item-info {
  position: relative;
  padding: 0 15px 25px;
}
.location-item-info-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #706f6f;
  margin-bottom: 20px;
}
.location-item-info-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 13px;
  color: #000000;
}
.location-item-info-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #000000;
}
.location-item-info-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 8px;
}
ul.location-item-info-list {
  padding-bottom: 72px;
  li {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    padding-left: 22px;
    & + li {
      margin-top: 8px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 4px;
      background-color: #000000;
      border-radius: 50%;
      top: 9px;
      left: 8px;
    }
  }
}
ul.location-item-info-tags {
  display: inline-flex;
  gap: 8px 14px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 25px;
  left: 15px;
  a {
    font-size: 14px;
  }
}
.location-control {
  text-align: center;
}
.location-control {
  .btn-tr {
    width: 100%;
  }
}
@import "_media-location";
//
.subscription {
  margin-bottom: 40px;
}
.subscription-wrapper {
  padding: 25px 15px 30px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
  margin: 0 -15px;
  &.fill {
    display: none;
  }
}
.subscription-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 26px;
}
.subscription-control-email {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  input {
    border: 1px solid #dddddd;
    padding: 16px 22px;
    height: 49px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.21;
    &::placeholder {
      color: #706f6f;
    }
  }
  .btn {
    padding: 14px 0;
  }
}
.subscription-message {
  display: none;
  padding: 25px 15px 30px;
  margin: 0 -15px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #0246a4;
  text-align: center;
  &.active {
    display: flex;
  }
}
@import "_media-subscription";
.footer {
  background: #ffffff;
  padding: 40px 0 33px;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
}
.footer-link-box {
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #706f6f;
    display: block;
  }
  & + .footer-link-box {
    margin-top: 10px;
  }
}
.footer-link-tels {
  padding-left: 31px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/phone.svg);
    @include bgi;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
  }
}
.footer-link-mails {
  padding-left: 31px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/send-email.svg);
    @include bgi;
    width: 16px;
    height: 16px;
    left: 0;
    top: 2px;
  }
}
.footer-icons-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icon {
  display: block;
  & + .footer-icon {
    margin-top: 11px;
  }
}
.footer-icon {
  height: 29px;
  display: block;
  img {
    height: 29px;
    object-fit: contain;
  }
}
.footer-icon-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  color: #706f6f;
  margin-top: 12px;
  max-width: 177px;
}
.footer-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 121%;
  color: #706f6f;
}
.page-inner {
  margin-top: 60px;
  padding-bottom: 40px;
}

@import "_media-footer";
.report {
  .img-vw {
    margin: 40px 0;
    img {
      display: block;
      max-width: 100%;
    }
  }
  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
}

.report-item {
  padding: 25px 15px 25px;
  background: #ffffff;
  margin: 0 -15px;
  margin-bottom: 34px;
}
.report-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 15px;
  flex-wrap: wrap;
}
.report-item-title-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.report-item-title-tags {
  display: flex;
  gap: 0 10px;
}
.report-item-title-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #0246a4;
}
.report-item-content {
  margin-bottom: 40px;
  h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 121%;
    margin: 0;
    margin-bottom: 24px;

    color: #000000;
  }
  h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #000000;
  }
  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 14px 0 18px;
    color: #000;
  }
  ul {
    margin-top: 8px;
    margin-bottom: 50px;
    li {
      position: relative;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: #000000;
      padding-left: 22px;
      & + li {
        margin-top: 8px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
        top: 9px;
        left: 8px;
      }
    }
  }
  iframe {
    display: block;
    margin: 10px 0 40px;
  }
  .report-item-content-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    gap: 15px 30px;
    margin: 40px 0 60px;
    ol > li {
      counter-increment: step-counter;
    }
    ol > li::before {
      content: counter(step-counter) ".";
    }
    ol li::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #000;
    }
    ol {
      li {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #000000;
        padding-left: 24px;
      }
    }
  }
}
.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 60px;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  thead tr {
    background-color: #fff;
    border-bottom: 2px solid #dddddd;
    th {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5;
      color: #000000;
      padding-bottom: 10px;
      text-align: left;
      padding-right: 30px;
    }
  }
  tbody {
    tr {
      background-color: #fff;
      border-bottom: 1px solid #dddddd;
      &:nth-child(even) {
        background: #f8f8f8;
      }
      td {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #000000;
        padding: 8px 0;
        padding-right: 30px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.report-item-download {
  .btn {
    width: 100%;
  }
}
.report-pagination {
  margin-bottom: 60px;
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #00499a;
  }
}
@import "_media-report";
.page-wrapper {
  padding: 24px 15px;
  background: #ffffff;
  margin: 0 -15px;
}
.policy {
  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
  h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.21;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
  }
  h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 20px;

    span {
      padding-left: 23px;
      display: inline;
    }
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 14px 0 18px;
    color: #000000;
  }
  a {
    color: #e30613;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    &.link-simple {
      color: #0246a4;
    }
  }
  ol {
    margin: 18px 0;
    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      margin: 20px 0;
      color: #000000;
      position: relative;
    }
    counter-reset: num;
    & > li {
      counter-increment: num;
      & + li {
        margin-top: 24px;
      }
      &::before {
        content: counter(num) ".";
        position: absolute;
        left: 0;
        top: 2px;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.21;
      }
    }
  }
  ol ol {
    counter-reset: num2;
  }
  ol ol > li {
    counter-increment: num2;
    & + li {
      margin-top: 21px;
    }
  }
  ol ol > li::before {
    content: counter(num) "." counter(num2) ".";
    position: static;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }
}
@import "_media-policy";
.report-list {
  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
  h1 {
    margin: 24px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.21;

    color: #000000;
  }
  .responsive-table thead tr th {
    padding: 14px 20px;
  }
  .responsive-table tbody tr td {
    &:first-child {
      max-width: 55px;
    }
    padding: 14px 20px;
  }

  .responsive-table tbody tr:nth-child(even) {
    background-color: #fff;
  }
  .responsive-table tbody tr {
    &:hover,
    &:focus {
      background-color: #f8f8f8;
      a {
        text-decoration: underline;
      }
    }
    a {
      font-size: 14px;
      line-height: 1.5;
      display: block;
    }
  }
}
@import "_media-report-list";
//authorization
.authorization {
  padding: 30px 0;
}
.authorization-header {
  margin-bottom: 35px;
}
.authorization-form {
  margin: 0 -15px;
  padding: 20px 15px 35px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
  margin-bottom: 40px;
  .btn {
    width: 100%;
    margin-bottom: 30px;
  }
}
.authorization-form-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}
.authorization-form-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
}
.authorization-footer-inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
  .footer-icon{
    margin: 0;
  }
}
.footer-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  color: #6a747d;
}
@import "_media-authorization";
@import "_media";
