@import "_fonts";
//@import "bootstrap-grid";
@import "mixin";
//@import "_sprite";
//@import "normalize";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  //font-family: 'Inter', sans-serif;
  scrollbar-width: thin;
  background-color: #f8f8f8;
  .page-bg.active{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.47,0,.74,.71);
    opacity: .9;
    transition-timing-function: cubic-bezier(.22,.61,.36,1);
    z-index: 9;
  }
}
body.no-scroll-mobile {
  overflow: hidden;
}
.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  ul,
  ol {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  li {
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style: none;
  }
}

select::-moz-placeholder {
  opacity: 1;
}
textarea::-moz-placeholder {
  opacity: 1;
}
input::-moz-placeholder {
  opacity: 1;
}
.content {
  flex: 1 0 auto;
  margin-top: 162px;
}
button,
a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
  &.sticky {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
.header-top {
  padding: 30px 0 30px;
  border-bottom: 1px solid #efefef;
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.05em;
  color: #0246a4;
}
.header-logo-descr {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #768ba7;
  margin-left: 10px;
  max-width: 140px;
}
.header-logo-icons {
  display: none;
}
.header-bottom {
  padding: 13px 0;
}
.header-bottom-nav-list {
  display: flex;
}
.menu-btn{
  @include no-button;
  width: 24px;
  height: 24px;
  span{
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000000;
    border-radius: 4px;
    & + span{
      margin-top: 4px;
    }
  }
  svg{
    display: none;
  }
}
.header-menu {
  position: fixed;
  left: -555px;
  transition: .35s;
  top: 48px;
}
@import "_media-header";
.tags {
  margin: 30px 0;
}
.tags-search {
  position: relative;
  margin-bottom: 24px;
  width: 290px;
  input {
    width: 100%;
    height: 49px;
    background: #ffffff;
    border: 1px solid #dddddd;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    padding: 15px 56px 15px 22px;
    &::placeholder {
      color: #706f6f;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    @include no-button;
    height: 49px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tags-items-inner {
  max-height: 82px;
  overflow: hidden;
  margin-bottom: 12px;
}
.tags-items {
  display: inline-flex;
  gap: 16px;
  flex-wrap: wrap;
}
.tags-item {
  padding: 8px 16px;
  background: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #768ba7;
  border: 1px solid #dddddd;

  &.active {
    background: #768ba7;
    color: #ffffff;
  }
  &:hover,
  &:focus {
    background: #768ba7;
    color: #ffffff;
  }
}
.tags-all {
  @include no-button;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #768ba7;

  display: none;
  &.show {
    display: block;
  }
}
.filled .tags-all-show,
.tags-all-hide {
  display: none;
}
.filled .tags-all-hide {
  display: initial;
}
.tags.filled .tags-items-inner {
  max-height: none;
}

@import "_media-tags";
//
.location {
  margin-bottom: 40px;
}
.location-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px;
}
.location-item {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  gap: 20px;
}
.location-item-img {
  @include container-img;
  padding-bottom: 62.5%;

  img {
    @include img;
  }
}
.location-item-info {
  position: relative;
  padding: 0 15px 25px;
}
.location-item-info-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #706f6f;
  margin-bottom: 20px;
}
.location-item-info-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 13px;
  color: #000000;
}
.location-item-info-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #000000;
}
.location-item-info-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 8px;
}
ul.location-item-info-list {
  padding-bottom: 72px;
  li {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    padding-left: 22px;
    & + li {
      margin-top: 10px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 4px;
      background-color: #000000;
      border-radius: 50%;
      top: 9px;
      left: 8px;
    }
  }
}
ul.location-item-info-tags {
  display: inline-flex;
  gap: 8px 14px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 25px;
  left: 15px;
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #0246a4;
  }
}
.location-control {
  text-align: center;
}
.location-control-more {
  @include no-button;
  display: inline-flex;
  justify-content: center;
  padding: 14px 32px;
  border: 1px solid #0246a4;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0246a4;
}
@import "_media-location";
//
.subscription {
  margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(180, 180, 180, 0.2);
  
}
.subscription-wrapper{
  padding: 25px 0 30px;
}
.subscription-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 26px;
}
.subscription-control-email {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  input {
    border: 1px solid #dddddd;
    padding: 16px 22px;
    height: 49px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.21;
    &::placeholder {
      color: #706f6f;
    }
  }
  button {
    @include no-button;
    background: #0246a4;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px 0;
  }
}
@import "_media-subscription";
.footer {
  background: #ffffff;
  padding: 40px 0 33px;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
}
.footer-link-box {
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #706f6f;
    display: block;
  }
  & + .footer-link-box {
    margin-top: 10px;
  }
}
.footer-link-tels {
  padding-left: 31px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/phone.svg);
    @include bgi;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
  }
}
.footer-link-mails {
  padding-left: 31px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/send-email.svg);
    @include bgi;
    width: 16px;
    height: 16px;
    left: 0;
    top: 2px;
  }
}
.footer-icons-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icon {
  display: block;
  & + .footer-icon {
    margin-top: 11px;
  }
}
.footer-icon {
  height: 29px;
  display: block;
  img {
    height: 29px;
    object-fit: contain;
  }
}
.footer-icon-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  color: #706f6f;
  margin-top: 12px;
  max-width: 177px;
}
.footer-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 121%;
  color: #706f6f;
}

@import "_media-footer";
@import "_media";
