*,
::after,
::before,
html {
  box-sizing: border-box
}
body,
html {
  position: relative;
  font-family: "Open Sans",sans-serif;
  scrollbar-width: thin;
  background-color: #f8f8f8
}
body .page-bg.active,
html .page-bg.active {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  opacity: .9;
  transition-timing-function: cubic-bezier(.22,.61,.36,1);
  z-index: 9
}
body.no-scroll-mobile {
  overflow: hidden
}
.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
.wrapper-page ol,
.wrapper-page ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none
}
.wrapper-page li {
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style: none
}
.web-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px
}
.web-input {
  position: relative
}
.web-input input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  padding: 16px 49px 16px 22px;
  color: #000;
  height: 49px;
  border: 1px solid #ddd;
  outline: 0
}
.web-input input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  color: #6a747d
}
.web-input input:hover {
  border-color: #768ba7
}
.web-input input:active {
  outline: #0246a4 solid 1px
}
.web-input button {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 49px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center
}
.web-input button svg {
  width: 24px;
  height: 24px
}
.web-input button svg path {
  fill: #aaa
}
select::-moz-placeholder {
  opacity: 1
}
textarea::-moz-placeholder {
  opacity: 1
}
input::-moz-placeholder {
  opacity: 1
}
.content {
  flex: 1 0 auto;
  margin-top: 76px
}
a,
button {
  cursor: pointer;
  outline: 0;
  text-decoration: none
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance: number-input
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.btn {
  background: #0246a4;
  border: none;
  padding: 14px 24px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  text-align: center
}
.btn:active,
.btn:hover {
  background: #005cdc
}
.btn:disabled {
  background: #ddd;
  color: #6a747d
}
.btn-tr {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0246a4;
  padding: 14px 24px;
  background: 0 0;
  border: 1px solid #0246a4
}
.btn-tr:active,
.btn-tr:hover {
  color: #005cdc;
  border: 1px solid #005cdc
}
.btn-tr:disabled {
  color: #aaa;
  border: 1px solid #aaa
}
.btn-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 9px 16px;
  color: #768ba7;
  background: #fff;
  border: 1px solid #ddd
}
.btn-small:hover {
  background: #768ba7;
  color: #fff;
  border: 1px solid #ddd
}
.btn-small:active {
  background: #768ba7;
  border: 1px solid #ddd
}
.btn-small:disabled {
  background: #ddd;
  border: 1px solid #ddd
}
.link-simple {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  color: #0246a4
}
.link-simple:active,
.link-simple:focus,
.link-simple:hover {
  text-decoration-line: underline;
  color: #005cdc
}
.link-simple:disabled {
  color: #aaa
}
.link-col {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  color: #000
}
.link-col:active,
.link-col:focus,
.link-col:hover {
  text-decoration-line: underline;
  color: #0246a4
}
.link-col:disabled {
  color: #aaa
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff
}
.header.sticky {
  box-shadow: 0 2px 5px rgba(0,0,0,.1)
}
.header-top {
  padding: 15px 0;
  border-bottom: 1px solid #efefef
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 15px
}
.header-box {
  display: flex;
  align-items: center
}
.header-logo {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: .05em;
  color: #0246a4
}
.header-logo-descr {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #768ba7;
  margin-left: 10px;
  max-width: 140px
}
.header-logo-icons {
  display: none
}
.header-bottom-nav-list {
  display: flex
}
.menu-btn {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px
}
.menu-btn span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  margin-left: auto
}
.menu-btn span + span {
  margin-top: 4px
}
.menu-btn svg {
  display: none
}
.mobile-navigation-box > ul {
  max-height: calc(100vh - 76px);
  overflow: auto;
  height: 100%
}
.header-menu {
  position: fixed;
  left: -100%;
  transition: .35s;
  top: 76px;
  background-color: #fff;
  width: 100%
}
.menu-btn.active span {
  display: none
}
.menu-btn.active svg {
  display: block
}
.mobile-navigation-sub-menu {
  display: none
}
.header-menu.active {
  left: 0
}
.header-menu ul > li.active > a {
  color: #0246a4
}
.header-menu ul > li.active span::after {
  transform: rotate(180deg)
}
.header-menu ul > li.is-parent > a span::after {
  display: inline-block
}
.header-menu ul > li > a span {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  position: relative
}
.header-menu ul > li > a span::after {
  content: "";
  position: relative;
  top: 2px;
  left: auto;
  right: -2px;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none
}
.header-menu ul > li + li {
  border-top: 1px solid #ddd
}
.header-menu ul > li > a {
  padding: 16px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  display: block
}
ul.mobile-navigation-sub-menu {
  padding-bottom: 16px
}
.mobile-navigation-sub-position > ul li > a {
  color: #6a747d;
  padding: 7px 0
}
.mobile-navigation-sub-position > ul li > a:focus,
.mobile-navigation-sub-position > ul li > a:hover {
  background: #f8f8f8
}
.mobile-navigation-sub-position > ul li + li {
  border: none
}
@media (min-width:576px) {
  .mobile-navigation-box > ul {
    max-height: calc(100vh - 136px)
  }
  .header-logo-descr {
    max-width: 167px;
    font-size: 12px;
    line-height: 1.21;
    margin-left: 19px
  }
  .header-logo {
    font-size: 52px;
    line-height: 63px
  }
  .header-top {
    padding: 42px 0 30px
  }
  .header-bottom-list {
    display: inline-flex
  }
  .content {
    margin-top: 136px
  }
  .header-menu ul > li > a span {
    max-width: 540px;
    margin: 0 auto
  }
  .header-menu {
    top: 136px
  }
}
@media (min-width:768px) {
  .mobile-navigation-box > ul {
    overflow: inherit;
    max-height: none;
    display: flex;
    gap: 40px
  }
  .header-menu ul > li {
    position: relative
  }
  .content {
    margin-top: 186px
  }
  .header-logo-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px
  }
  .header-logo-icon {
    display: block;
    height: 30px
  }
  .header-logo-icon img {
    height: 30px;
    object-fit: contain
  }
  .menu-btn {
    display: none
  }
  .header-top-inner {
    align-items: start
  }
  .header-bottom {
    padding: 13px 0
  }
  body .page-bg.active,
  html .page-bg.active {
    display: none
  }
  .header-menu {
    position: static
  }
  .header-menu ul > li > a span {
    max-width: 100%;
    padding: 0
  }
  body.no-scroll-mobile {
    overflow: auto
  }
  .header-menu ul > li + li {
    border: none
  }
  .header-menu ul > li > a {
    padding: 0
  }
  .header-menu ul > li > a span.acting {
    position: relative
  }
  .header-menu ul > li > a span.acting::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0246a4
  }
  .header-top {
    padding: 40px 0 27px
  }
  ul.mobile-navigation-sub-menu {
    min-width: 215px;
    max-height: calc(100vh - 173px);
    overflow: auto;
    padding-bottom: 0
  }
  ul.mobile-navigation-sub-menu > li {
    position: initial
  }
  .mobile-navigation-sub-menu {
    position: absolute;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .25));
    background-color: #fff;
    left: -14px;
    top: calc(100% + 13px)
  }
  .mobile-navigation-sub-position > ul li > a {
    padding: 7px 14px
  }
  .mobile-navigation-sub-position > ul li + li {
    border-top: 1px solid #ddd
  }
  .mobile-navigation-sub-position > ul li > a:focus,
  .mobile-navigation-sub-position > ul li > a:hover {
    background: #768ba7;
    color: #fff
  }
}
@media (min-width:992px) {
  .header-logo-icons {
    flex-direction: row;
    gap: 40px
  }
  .header-top-inner {
    align-items: center
  }
  .header-top {
    padding: 42px 0 30px
  }
}
.tags {
  margin: 30px 0
}
.tags-search {
  position: relative;
  margin-bottom: 24px;
  width: 290px
}
.tags-search input {
  width: 100%;
  height: 49px;
  background: #fff;
  border: 1px solid #ddd;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding: 15px 56px 15px 22px
}
.tags-search input::placeholder {
  color: #706f6f
}
.tags-search button {
  position: absolute;
  right: 0;
  top: 0;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  height: 49px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center
}
.tags-items-inner {
  max-height: 84px;
  overflow: hidden;
  margin-bottom: 12px;
  display: inline-block
}
.tags-items {
  display: inline-flex;
  gap: 16px;
  flex-wrap: wrap
}
.tags-items .btn-small.active {
  background: #768ba7;
  color: #fff
}
.tags-item {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px 16px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #768ba7
}
.tags-all {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #768ba7;
  display: none
}
.tags-all.show {
  display: inline-block
}
.filled .tags-all-show,
.tags-all-hide {
  display: none
}
.filled .tags-all-hide {
  display: initial
}
.tags.filled .tags-items-inner {
  max-height: none
}
@media (min-width:576px) {
  .tags-search {
    width: 377px
  }
}
@media (min-width:768px) {
  .tags-search {
    width: 360px
  }
  .tags {
    margin: 40px 0
  }
}
@media (min-width:1200px) {
  .tags {
    margin: 60px 0 40px
  }
}
.location {
  margin-bottom: 40px
}
.location-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px
}
.location-item {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2px 4px rgba(180,180,180,.2);
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  gap: 20px;
  min-height: 366px
}
.location-item:hover {
  box-shadow: 0 4px 21px rgba(0,0,0,.1)
}
.location-item-img {
  position: relative;
  height: 0;
  padding-bottom: 62.5%
}
.location-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}
.location-item-info {
  position: relative;
  padding: 0 15px 25px
}
.location-item-info-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #706f6f;
  margin-bottom: 30px
}
.location-item-info-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 13px;
  color: #000
}
.location-item-info-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #000
}
.location-item-info-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 8px
}
ul.location-item-info-list {
  padding-bottom: 47px
}
ul.location-item-info-list li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-left: 22px
}
ul.location-item-info-list li + li {
  margin-top: 8px
}
ul.location-item-info-list li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  top: 9px;
  left: 8px
}
ul.location-item-info-tags {
  display: inline-flex;
  gap: 8px 14px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 25px;
  left: 15px
}
ul.location-item-info-tags a {
  font-size: 14px
}
.location-control {
  text-align: center
}
.location-control .btn-tr {
  width: 100%
}
@media (min-width:576px) {
  .location-item {
    margin-left: 0;
    margin-right: 0;
    gap: 25px
  }
  .location-item-img {
    padding-bottom: 82%
  }
  .location-control .btn-tr {
    width: 350px
  }
}
@media (min-width:768px) {
  .location-item-img {
    padding-bottom: 54%
  }
  .location,
  .location-items {
    margin-bottom: 46px
  }
}
@media (min-width:992px) {
  .location-item-img {
    height: 100%;
    width: 100%;
    padding: 0
  }
  ul.location-item-info-list {
    padding-bottom: 64px
  }
  .location-item {
    grid-template-columns: 1fr 1fr;
    gap: 0
  }
  ul.location-item-info-tags {
    left: 40px
  }
  .location-item:nth-child(even) .location-item-img {
    order: 1
  }
  .location-item-info {
    padding: 30px 40px 25px
  }
  .location,
  .location-items {
    margin-bottom: 60px
  }
}
.subscription {
  margin-bottom: 40px
}
.subscription-wrapper {
  padding: 25px 15px 30px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(180,180,180,.2);
  margin: 0 -15px
}
.subscription-wrapper.fill {
  display: none
}
.subscription-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  margin-bottom: 26px
}
.subscription-control-email {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px
}
.subscription-control-email input {
  border: 1px solid #ddd;
  padding: 16px 22px;
  height: 49px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21
}
.subscription-control-email input::placeholder {
  color: #706f6f
}
.subscription-control-email .btn {
  padding: 14px 0
}
.subscription-message {
  display: none;
  padding: 25px 15px 30px;
  margin: 0 -15px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(180,180,180,.2);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #0246a4;
  text-align: center
}
.subscription-message.active {
  display: flex
}
@media (min-width:576px) {
  .subscription-message,
  .subscription-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 2px 4px rgba(180,180,180,.2);
    margin-left: 0;
    margin-right: 0
  }
}
@media (min-width:768px) {
  .subscription-control-email {
    grid-template-columns: 1fr 174px;
    gap: 16px
  }
  .subscription-title {
    margin-bottom: 17px
  }
  .subscription-message,
  .subscription-wrapper {
    padding: 25px
  }
}
@media (min-width:992px) {
  .subscription-control-email {
    grid-template-columns: 1fr 153px;
    gap: 16px
  }
  .subscription-wrapper {
    display: grid;
    grid-template-columns: minmax(auto,350px) 1fr;
    align-items: center;
    gap: 16px
  }
  .subscription-title {
    margin-bottom: 0
  }
  .subscription-message,
  .subscription-wrapper {
    padding: 35px 30px 44px
  }
  .subscription {
    margin-bottom: 80px
  }
}
@media (min-width:1200px) {
  .subscription-control-email {
    grid-template-columns: 1fr 170px;
    gap: 16px
  }
  .subscription-wrapper {
    grid-template-columns: auto minmax(auto,518px);
    padding: 42px 32px 49px
  }
  .subscription-message {
    padding: 50px 30px 60px
  }
  .subscription {
    margin-bottom: 60px
  }
}
.footer {
  background: #fff;
  padding: 40px 0 33px
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0
}
.footer-link-box a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #706f6f;
  display: block
}
.footer-link-box + .footer-link-box {
  margin-top: 10px
}
.footer-link-tels {
  padding-left: 31px;
  position: relative
}
.footer-link-tels::before {
  content: "";
  position: absolute;
  background-image: url(../img/svg/phone.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  left: 0;
  top: 3px
}
.footer-link-mails {
  padding-left: 31px;
  position: relative
}
.footer-link-mails::before {
  content: "";
  position: absolute;
  background-image: url(../img/svg/send-email.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px
}
.footer-icons-inner {
  display: flex;
  flex-direction: column;
  align-items: center
}
.footer-icon + .footer-icon {
  margin-top: 11px
}
.footer-icon {
  height: 29px;
  display: block
}
.footer-icon img {
  height: 29px;
  object-fit: contain
}
.footer-icon-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  color: #706f6f;
  margin-top: 12px;
  max-width: 177px
}
.footer-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 121%;
  color: #706f6f
}
.page-inner {
  margin-top: 60px;
  padding-bottom: 40px
}
@media (min-width:768px) {
  .footer {
    padding: 40px 0 20px
  }
  .footer-inner {
    flex-direction: row;
    align-items: start;
    gap: 30px;
    justify-content: space-between
  }
  .footer-info {
    order: -1
  }
  .footer-links {
    order: 1
  }
  .page-inner {
    padding-bottom: 60px
  }
}
@media (min-width:992px) {
  .footer-icons-inner {
    flex-direction: row;
    align-items: start
  }
  .footer-icon + .footer-icon {
    margin-top: 0;
    margin-left: 40px
  }
  .footer-icon-info {
    margin-top: 0;
    margin-left: 12px;
    text-align: left
  }
  .footer {
    padding: 43px 0
  }
  .page-inner {
    padding-bottom: 100px
  }
}
.report .img-vw {
  margin: 40px 0
}
.report .img-vw img {
  display: block;
  max-width: 100%
}
.report :first-child {
  margin-top: 0
}
.report :last-child {
  margin-bottom: 0
}
.report-item {
  padding: 25px 15px;
  background: #fff;
  margin: 0 -15px 34px
}
.report-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 15px;
  flex-wrap: wrap
}
.report-item-title-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000
}
.report-item-title-tags {
  display: flex;
  gap: 0 10px
}
.report-item-title-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #0246a4
}
.report-item-content {
  margin-bottom: 40px
}
.report-item-content h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 121%;
  margin: 0 0 24px;
  color: #000
}
.report-item-content h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 28px 0;
  color: #000
}
.report-item-content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 8px 0
}
.report-item-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 14px 0 18px;
  color: #000
}
.report-item-content ul {
  margin-top: 8px;
  margin-bottom: 50px
}
.report-item-content ul li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-left: 22px
}
.report-item-content ul li + li {
  margin-top: 8px
}
.report-item-content ul li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  top: 9px;
  left: 8px
}
.report-item-content iframe {
  display: block;
  margin: 10px 0 40px
}
.report-item-content .report-item-content-box {
  display: grid;
  grid-template-columns: repeat(auto-fill,290px);
  gap: 15px 30px;
  margin: 40px 0 60px
}
.report-item-content .report-item-content-box ol > li {
  counter-increment: step-counter
}
.report-item-content .report-item-content-box ol > li::before {
  content: counter(step-counter) "."
}
.report-item-content .report-item-content-box ol li::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000
}
.report-item-content .report-item-content-box ol li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-left: 24px
}
.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 60px
}
.responsive-table table {
  width: 100%;
  border-collapse: collapse
}
.responsive-table thead tr {
  background-color: #fff;
  border-bottom: 2px solid #ddd
}
.responsive-table thead tr th {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-bottom: 10px;
  text-align: left;
  padding-right: 30px
}
.responsive-table tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd
}
.responsive-table tbody tr:nth-child(even) {
  background: #f8f8f8
}
.responsive-table tbody tr td {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding: 8px 30px 8px 0
}
.responsive-table tbody tr td:last-child {
  padding-right: 0
}
.report-item-download .btn {
  width: 100%
}
.report-pagination {
  margin-bottom: 60px
}
.report-pagination a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #00499a
}
@media (min-width:576px) {
  .report-item-content h1 {
    margin-bottom: 30px
  }
  .report-item {
    margin-left: 0;
    margin-right: 0;
    padding: 24px 24px 60px
  }
}
@media (min-width:768px) {
  .report-item-download {
    display: flex;
    justify-content: flex-end
  }
  .report-item-download .btn {
    width: auto
  }
  .report-item-content h1 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px
  }
}
@media (min-width:992px) {
  .report-item-content .report-item-content-box {
    grid-template-columns: repeat(auto-fill,355px)
  }
  .report-item {
    padding: 30px 36px 60px
  }
}
.page-wrapper {
  padding: 24px 15px;
  background: #fff;
  margin: 0 -15px
}
.policy :first-child {
  margin-top: 0
}
.policy :last-child {
  margin-bottom: 0
}
.policy h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.21;
  color: #000;
  margin: 0 0 24px
}
.policy h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  margin: 24px 0 20px
}
.policy h2 span {
  padding-left: 23px;
  display: inline
}
.policy p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 21px 0;
  color: #000
}
.policy a {
  color: #e30613;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5
}
.policy a.link-simple {
  color: #0246a4
}
.policy ol {
  margin: 18px 0;
  counter-reset: num
}
.policy ol li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 0;
  color: #000;
  position: relative
}
.policy ol > li {
  counter-increment: num
}
.policy ol > li + li {
  margin-top: 24px
}
.policy ol > li::before {
  content: counter(num) ".";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.21
}
.policy ol ol {
  counter-reset: num2
}
.policy ol ol > li {
  counter-increment: num2
}
.policy ol ol > li + li {
  margin-top: 21px
}
.policy ol ol > li::before {
  content: counter(num) "." counter(num2) ".";
  position: static;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5
}
@media (min-width:576px) {
  .page-wrapper {
    padding-bottom: 30px;
    margin: 0
  }
  .policy h1 {
    margin-bottom: 30px
  }
  .policy ol > li + li {
    margin-top: 30px
  }
}
@media (min-width:768px) {
  .policy h1 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px
  }
  .policy ol > li + li {
    margin-top: 40px
  }
  .policy h2 {
    margin-bottom: 28px
  }
  .page-wrapper {
    padding: 24px 24px 60px
  }
}
@media (min-width:992px) {
  .page-wrapper {
    padding: 67px 36px 60px
  }
}
.report-list :first-child {
  margin-top: 0
}
.report-list :last-child {
  margin-bottom: 0
}
.report-list h1 {
  margin: 24px 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.21;
  color: #000
}
.report-list .responsive-table tbody tr td,
.report-list .responsive-table thead tr th {
  padding: 14px 20px
}
.report-list .responsive-table tbody tr td:first-child {
  max-width: 55px
}
.report-list .responsive-table tbody tr:nth-child(even) {
  background-color: #fff
}
.report-list .responsive-table tbody tr:focus,
.report-list .responsive-table tbody tr:hover {
  background-color: #f8f8f8
}
.report-list .responsive-table tbody tr a {
  font-size: 14px;
  line-height: 1.5;
  display: block
}
.authorization {
  padding: 30px 0
}
.authorization-header {
  margin-bottom: 35px
}
.authorization-form {
  margin: 0 -15px 40px;
  padding: 20px 15px 35px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(180,180,180,.2)
}
.authorization-form .btn {
  width: 100%;
  margin-bottom: 30px
}
.authorization-form-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  margin-bottom: 30px
}
.authorization-form-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center
}
.authorization-footer-inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px
}
.authorization-footer-inner .footer-icon {
  margin: 0
}
.footer-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  color: #6a747d
}
@media (min-width:576px) {
  .report-list h1 {
    margin: 30px 0
  }
  .authorization {
    padding: 50px 0
  }
  .authorization-header {
    margin-bottom: 40px
  }
}
@media (min-width:768px) {
  .report-list h1 {
    margin: 40px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000
  }
  .authorization {
    padding: 100px 0
  }
  .authorization-header {
    margin-bottom: 60px
  }
}
.text-page :first-child {
  margin-top: 0
}
.text-page :last-child {
  margin-bottom: 0
}
.text-page h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.21;
  color: #000;
  margin: 24px 0
}
.text-page h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  margin: 20px 0 14px
}
.text-page img {
  display: block;
  max-width: 100%;
  margin: 40px 0
}
.text-page p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 21px 0;
  color: #000
}
.text-page a {
  color: #0246a4;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline
}
.text-page .responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 60px
}
.text-page .responsive-table table {
  width: 100%;
  border-collapse: collapse
}
.text-page .responsive-table thead tr {
  background-color: #fff;
  border-bottom: 2px solid #ddd
}
.text-page .responsive-table thead tr th {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-bottom: 10px;
  text-align: left;
  padding-right: 30px
}
.text-page .responsive-table tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd
}
.text-page .responsive-table tbody tr:nth-child(even) {
  background: #f8f8f8
}
.text-page .responsive-table tbody tr td {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding: 8px 30px 8px 0
}
.text-page .responsive-table tbody tr td:last-child {
  padding-right: 0
}
.text-page .responsive-table tbody tr a {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  color: #0246a4
}
.text-page ul {
  margin: 20px 0
}
.text-page ul li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-left: 22px
}
.text-page ul li + li {
  margin-top: 8px
}
.text-page ul li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  top: 9px;
  left: 8px
}
.text-page iframe {
  display: block;
  margin: 10px 0 40px
}
.text-page ol > li {
  counter-increment: step-counter
}
.text-page ol > li::before {
  content: counter(step-counter) "."
}
.text-page ol li::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000
}
.text-page ol {
  margin: 20px 0
}
.text-page ol li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding-left: 24px
}
@media (min-width:768px) {
  .text-page h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    margin: 42px 0
  }
  .text-page h2 {
    margin: 42px 0
  }
  .text-page .img-left {
    float: left;
    margin: 0 30px 30px 0;
    position: relative;
    max-width: calc(50% - 15px)
  }
  .text-page .img-right {
    float: right;
    max-width: calc(50% - 15px);
    margin: 0 0 30px 30px;
    position: relative
  }
}